div
{
    text-align: center;
}

img
{
    padding: 10px;
}

body
{
    background-color: #EBE9E9;
}


.tirage
{
    position: fixed;
    top: 45%;
    left: 30%;
}

.regle
{
    position: fixed;
    top: 30%;
    left: 40%;
}

.casino
{
    position: fixed;
    top:1%;
    left: 30%;
}


.info
{
    position:absolute;
    left: 30%;
    top: 85%;
    width: 200px;
    height: 200px;
    margin-left: -100px;
    margin-top: -100px;
}

.info1
{
    position:absolute;
    left: 50%;
    top: 85%;
    width: 200px;
    height: 200px;
    margin-left: -100px;
    margin-top: -100px;
}

.info2
{
    position:absolute;
    left: 70%;
    top: 85%;
    width: 200px;
    height: 200px;
    margin-left: -100px;
    margin-top: -100px;
}


.button1:enabled
{
    position: absolute;
    left: 20%;
    top: 48%;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: black;
    background-color: white;
    border-color: #ff0000;
    border-radius: 50%;
    width: 110px;
    height: 110px;
}

.button1:active 
{
    transform: translateY(4px);
}

.button1:disabled
{
    visibility: hidden;
}

.button2:enabled
{
    position: absolute;
    left: 70%;
    top: 48%;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: black;
    background-color: white;
    border-color: #000000;
    border-radius: 50%;
    width: 110px;
    height: 110px;
}

.button2:active
{
    transform: translateY(4px);
}

.button2:disabled
{
    visibility: hidden;
}


.drapeau
{
    position: fixed;
    top: 2%;
    left: -4%;
    transform: rotate(-45deg);
    width: 30px; 
}





