div
{
    text-align: center;
}

img
{
    padding: 10px;
}

body
{
    background-color: #EBE9E9;
}

.info, .info1, .info2
{
    width: 200px;
    position: absolute;
    top: 50%;
}

.info
{
    position:absolute;
    left: 30%;
    top: 65%;
    width: 200px;
    height: 200px;
    margin-left: -100px;
    margin-top: -100px;
}

.info1
{
    position:absolute;
    left: 50%;
    top: 65%;
    width: 200px;
    height: 200px;
    margin-left: -100px;
    margin-top: -100px;
}

.info2
{
    position:absolute;
    left: 70%;
    top: 65%;
    width: 200px;
    height: 200px;
    margin-left: -100px;
    margin-top: -100px;
}
.button
{
   padding: 15px 25px;
   font-size: 24px;
   text-align: center;
   cursor: pointer;
   outline: none;
   color: black;
   background-color: white;
   border-color: #ff0000;
   border-radius: 50%;
   width: 130px;
   height: 130px;
}
.button:active
{
    transform: translateY(4px);
}